<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <style>   
      body{
           font-family: Arial, Helvetica, sans-serif;
           text-align: center;
      } 
      a{
        text-decoration: none;
        display: inline-block;
        border-radius: 10%;
        background-color: rgba(13, 184, 13, 0.87);
         margin: 0px auto;
         padding:0.2em 1.2em
      }
      </style>
</head>
<body>
    <div>
        <H1>Welcome! to API Documentation </H1>
        <a href="/api-docs">Documentation</a>
    </div>
</body>
</html>